doctype html
html
  head
    title Error
    style.
      body { font-family: Arial, sans-serif; text-align: center; margin-top: 100px; }
      h1 { color: #dc3545; }
  body
    h1 Error capo
    h1= message
    a(href="/") Volver al inicio
