extends layout

block content
  .login-container
    h1 Iniciar Sesión

    if mensaje
      .alert= mensaje

    form(action="/auth/login" method="POST")
      .form-group
        label(for="email") Email
        input#email(type="email" name="email" placeholder="ejemplo@correo.com" required)

      .form-group
        label(for="password") Contraseña
        input#password(type="password" name="password" placeholder="********" required)

      button.btn(type="submit") Entrar
